Nama : Raehan Ajis Marichal NIM : 230190506

Branching & conditions

In [2]:
if 15 > 5:
    print("True")
print("Lanjutt")

True
Lanjutt

Yang dibawah fasle jadi cuma tampil lanjut

In [3]:
if 15 < 5:
  print("True")
print("Lanjutt")

Lanjutt

In [12]:
age = int(input("Enter a number: "))

if (age>18):
  print("Legal ini")
  print("Boleh Masuk")

else:
  print("tidak boleh masuk")

Enter a number: 17
tidak boleh masuk

In [18]:
a = int(input("Masukan Nomor 10-20 or 30-40: "))
if (a >= 10 and a <= 20) or (a >= 30 and a <= 40):
    print("Mantap Pas.")
else:
    print("kurang atau Kelebihan Gan.")

Masukan Nomor 10-20 or 30-40: 11
Mantap Pas.

Jadi jika kodisi dimana a itu lebih besar dan a kurang dari 20 maka akan menampilan mantap pas kalau lebih akan menamilan Kurang atau Lebih ini untuk or verarti di antara angjka 10 20 atau 30 sampai 40 jika dan maka akan nyambung

LOOPS

FOR

In [19]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE

In [22]:
I = 0
while (I < 3):   
    I = I + 1
    print("Saya Ajis")

Saya Ajis
Saya Ajis
Saya Ajis

In [28]:
squares = ['orange','orange','purple','blue']
Newsquares=[]

i=0

while(squares[i]=='orange'):

  Newsquares.append(squares[i])
  i=i+1

  print(squares)

['orange', 'orange', 'purple', 'blue']
['orange', 'orange', 'purple', 'blue']

FUNCTION

In [38]:
def my_function():
  print("iNI fUNCTION")

In [39]:

my_function()

iNI fUNCTION

len

In [40]:
len(range(1, 20, 2))

10

In [41]:
office_days = ["Tuesday", "Thursday", "Friday"] 
len(office_days)

3

sum

In [42]:
angka = [10,20,30,40,50]

S=sum(angka)

S

150

Sort /Sorted

In [52]:
angka = [20,10,60,40,50]

S=sorted(angka)

print(angka)
print("=========+++++======")
S

[20, 10, 60, 40, 50]
=========+++++======

[10, 20, 40, 50, 60]

In [54]:
angka = [20,10,60,40,50]

angka.sort()

angka

[10, 20, 40, 50, 60]

Making Function V2

In [58]:
def add1(a):

    b=a+1
    return b

In [59]:
  add1(5)
  6
  c=add1(10)

  c

11

Multiple Parameters

In [61]:
def mult(a,b):

    c=a*b
    return c

In [62]:
mult(2,3)

6

In [68]:
def Artistname(*names):
  for name in names:
    print (name)

In [69]:
Artistname("Spiderman","Superman")

Spiderman
Superman

In [72]:
def Thriller():

  Date=1928
  
  return(Date)

In [73]:
Date = 2017

print(Thriller())

1982

print(Date)

1928
2017

In [74]:
def Ajis():
  global Laku
  Laku = '45 Juta'

  return Laku

In [75]:
Ajis()
print(Laku)

45 Juta

OBJECT AND CLASS

In [79]:
class ident:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = ident("Ajis", 20)

print(p1.name)
print(p1.age)

Ajis
20

In [80]:
class ident:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def help(self):
    print("Hello my name is " + self.name)

p1 = ident("Ajis", 20)
p1.help()

Hello my name is John