Tuples

In [1]:
A = ('Raehan','Ajis')
print(A)

('Raehan', 'Ajis')

List

In [3]:
B = ("Keluarga","Ayah","Ibu","Keluarga","Kakek")
print(B)

('Keluarga', 'Ayah', 'Ibu', 'Keluarga', 'Kakek')

List OF Tuples

In [4]:
fruit = [(1, 'Pinaple'), (2, 'Apple'), (3, 'Grape'),
        (4, 'Cherry'), (5, 'Manggo')]
fruit

[(1, 'Pinaple'), (2, 'Apple'), (3, 'Grape'), (4, 'Cherry'), (5, 'Manggo')]

Convert String To list

In [10]:
def Convert(string):
    li = list(string.split(" "))
    return li
  
str1 = "Banana Apple"
print(Convert(str1))

['Banana', 'Apple']

Sets

In [11]:
fruit_list = ["Apple","Pinaple","Pinaple",2]
fruit_set  = set(fruit_list)
fruit_set

{2, 'Apple', 'Pinaple'}

Set Operation

In [12]:
A = {"A","B","C","D","E"}
A.add("Ajis")
A

{'A', 'Ajis', 'B', 'C', 'D', 'E'}

In [15]:
A = {"A","B","C","D","E"}
A.add("Ajis")
A.remove("B")
A

{'A', 'Ajis', 'C', 'D', 'E'}

In [17]:
A = {"A","B","C","D","E"}

"B" in A

True

In [18]:
A = {"A","B","C","D","E"}

"L" in A

False

In [20]:
A = {"A","B","C","D","E"}
B = {"A","B","I","D","O"}
C = A & B
C

{'A', 'B', 'D'}

In [16]:
A = {"A","B","C","D","E"}
B = {"A","B","I","D","O"}

print("Union :", A | B)

Union : {'I', 'E', 'A', 'C', 'D', 'B', 'O'}

In [21]:
A = {"A","B","C","D","E"}
B = {"A","B","I","D","O"}
B.issubset(A)

False

Dictioneries

In [25]:
dict = {'Name': 'Raehan', 'Age': 20, 'Class': 'LA20' , 'NIM':'2301905096'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])
print ("dict['NIM']: ", dict['NIM'])

dict['Name']:  Raehan
dict['Age']:  20
dict['NIM']:  2301905096

In [27]:
dict = {'Name': 'Raehan', 'Age': 20, 'Class': 'LA20' , 'NIM':'2301905096'}
'Alice' in dict

False

In [33]:
dict = {'Name': "Raehan", 'Age': 20, 'Class': 'LA20' , 'NIM':'2301905096'}
'Name' in dict

True

Jadi harus idnuknya dipanggil atau check bukan childnya kayak di atas saya ketikraehan tetep false padahal lalu saya keti name hasilnya true