Reading Files With Open

In [22]:
with open('sample1.csv') as file:

   df = file.read()

   print(df)

Ini budi

In [2]:
with open('sample1.csv') as file:

   df = file.read()

   print(df)

   print(file.closed)
   print(df)

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0
"Jun",  0.5,  2,  1, 1, 0, 0, 1, 1, 2, 2,  0,  1
"Jul",  0.7,  5,  1, 1, 2, 0, 1, 3, 0, 2,  2,  1
"Aug",  2.3,  6,  3, 2, 4, 4, 4, 7, 8, 2,  2,  3
"Sep",  3.5,  6,  4, 7, 4, 2, 8, 5, 2, 5,  2,  5
"Oct",  2.0,  8,  0, 1, 3, 2, 5, 1, 5, 2,  3,  0
"Nov",  0.5,  3,  0, 0, 1, 1, 0, 1, 0, 1,  0,  1
"Dec",  0.0,  1,  0, 1, 0, 0, 0, 0, 0, 0,  0,  1


False
"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0
"Jun",  0.5,  2,  1, 1, 0, 0, 1, 1, 2, 2,  0,  1
"Jul",  0.7,  5,  1, 1, 2, 0, 1, 3, 0, 2,  2,  1
"Aug",  2.3,  6,  3, 2, 4, 4, 4, 7, 8, 2,  2,  3
"Sep",  3.5,  6,  4, 7, 4, 2, 8, 5, 2, 5,  2,  5
"Oct",  2.0,  8,  0, 1, 3, 2, 5, 1, 5, 2,  3,  0
"Nov",  0.5,  3,  0, 0, 1, 1, 0, 1, 0, 1,  0,  1
"Dec",  0.0,  1,  0, 1, 0, 0, 0, 0, 0, 0,  0,  1

Hitung Perline

In [7]:
with open('sample1.csv') as file:

   df = file.read(150)

   print(df)

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,

Writing Files With Open

In [16]:
with open('test.csv',"a") as file:

 file.write("Ini budi")

In [14]:
Lines=["Ini ayah\n","Ini Ibu\n","Ini kakak\n"] 
with open('test.csv',"w") as file:

 for line in Lines:

   file.write(line)

In [17]:
with open('test.csv') as file:

   df = file.read()

   print(df)

Ini ayah
Ini Ibu
Ini kakak
Ini budi

In [26]:
import pandas as pd
csv_path = 'test.csv'
df=pd.read_csv(csv_path)

df.head()

    Ini ayah
0    Ini Ibu
1  Ini kakak
2   Ini budi

In [30]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

print(cf)

   Country  Trophy Player
0  England      10     12
1    Rusia      20     14
2  Germany      30     13
3    Italy      40     13

In [32]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

x=cf[['Country']]

print(x)

   Country
0  England
1    Rusia
2  Germany
3    Italy

In [33]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

y=cf[['Country','Player']]

print(y)

   Country Player
0  England     12
1    Rusia     14
2  Germany     13
3    Italy     13

In [39]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

cf.iloc[:,0]

0    England
1      Rusia
2    Germany
3      Italy
Name: Country, dtype: object

In [43]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

cf.loc[:,"Country"]

0    England
1      Rusia
2    Germany
3      Italy
Name: Country, dtype: object

In [45]:
import pandas as pd
club = {'Country' : ['England','Rusia','Germany','Italy'], 'Trophy' : [10,20,30,40], 'Player': ['12','14','13','13']}

cf=pd.DataFrame(club)

cf.iloc[:,1]

0    10
1    20
2    30
3    40
Name: Trophy, dtype: int64